{% extends 'base/base.html' %}

{% block title %}List Activities{% endblock title %}

{% block content %}
<table class="table">
    <thead class="table-dark">
        <th>ACTIVITY ID</th>
        <th>SCHEDULE</th>
        <th>TITLE</th>
        <th>CREATED_AT</th>
        <th>STATUS</th>
        <th>CONDITION</th>
        <th>PROPERTY ID</th>
        <th>PROPERTY TITLE</th>
        <th>PROPERTY ADDRESS</th>
        <th>SURVEY</th>
    </thead>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.id}}</td>
        <td>{{ obj.schedule }}</td>
        <td>{{ obj.title }}</td>
        <td>{{ obj.created_at }}</td>
        <td>{{ obj.status }}</td>
        <td>Condition Field</td>
        <td>{{ obj.property_id.id }}</td>
        <td>{{ obj.property_id.title }}</td>
        <td>{{ obj.property_id.address }}</td>
        <td>{{ obj.property_id.status }}</td>
        <td>{{ obj.survey_id.id}}</td>
    </tr>
        
     {% endfor %}
</table>
{% endblock content %}